.Shop{
    width: 90%;
    margin: 4%;
    padding: 0.5%;
    background-color: ghostwhite;
    height: 750px;
}

.goods {
    float: left;
    width: 18%;
    padding: 1%;
    margin: 2% 1% 2% 2%;
    background-color: ghostwhite;
    border: gray 1px solid;
}

.pick {
    border-radius: 100%;
    width: 20%;
    height: 30%;
    margin: 3% 5% 1% 75%;
    padding: 0;
}

.googsimg{
    width: 100%;
    height: 170px;
}

